:root {
    /*--scrollbar-auto-thumb: rgb(234 222 224);*/
    --brand-experiment: rgb(170, 0, 255);
    /*--brand-experiment-500: rgb(184 122 133);*/
    --brand-experiment-560: rgb(170 0 200);
    --brand-experiment-600: rgb(170 0 255);
    --selection-col: rgb(170 0 255 / 65%);
    /*--local-bot-side: rgb(236 67 90);*/
	--transitionspeed: 0.25s;
}

/*.theme-dark {
    --background-primary: rgb(0 0 0);
    --background-secondary: rgb(20 20 21);
    --background-secondary-alt: rgb(10 10 11);
    --background-tertiary: rgb(21 21 22);
    --background-floating: rgb(8 8 9);
    --channeltextarea-background: rgb(16 16 17);
    --modal-footer-background: rgb(24 24 25);
    --modal-background: rgb(15 15 16 / 75%);
    --home-background: var(--background-primary);
}*/

::selection {background: var(--selection-col) !important;}

.theme-dark .container-1um7CU,.theme-dark .container-2IKOsH, .theme-dark .header-3xB4vB, .theme-dark [class^="directoryModal-"] {
    background-color: var(--background-secondary-alt);
}

/*.theme-light .wrapper-1_HaEi,.theme-light .scroller-3X7KbA {
    background: linear-gradient(rgb(63 55 78 / 32%),rgb(169 76 76 / 27%)),var(--bg-overlay-4,var(--background-secondary)) !important;
}
.theme-dark .wrapper-1_HaEi,.theme-dark .scroller-3X7KbA {
    background: linear-gradient(rgb(104 85 101 / 50%),rgb(156 108 108 / 19%)),var(--bg-overlay-4,var(--background-secondary)) !important;
}*/

[role="navigation"] {
    background: none !important;
}

div[class*="checked-"] {
    background-color: var(--brand-experiment-500) !important;
}
svg[class^="slider-"] path {
    fill: var(--brand-experiment-560);
}

[class*="connectedAccountOpenIcon-"] {
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-radius: 100%;
}

nav [aria-label="User Settings"] div[class^="info-"] > span:last-child::after {
    content: "\a\aGloom";
    white-space: pre;
    color: var(--brand-experiment);
    font: 15pt/0.4 var(--font-code);
}
nav [aria-label="User Settings"] div[class^="info-"]::after {
    content: "by sotaq";
    white-space: pre;
    font: 8pt/0.4 var(--font-code);
    color: var(--text-muted);
    text-transform: none;
}

.theme-dark .withFrame-haYltI {
    background: linear-gradient(rgb(117 117 117 / 10%), rgb(117 117 117 / 10%)),var(--bg-overlay-4,var(--background-secondary));
}
.theme-light .withFrame-haYltI {
    background: linear-gradient(rgb(0 0 0 / 20%), rgb(0 0 0 / 20%)),var(--bg-overlay-4,var(--background-secondary));
}

main [class*="scroller"] {
    scrollbar-color: var(--scrollbar-auto-thumb) var(--background-primary);
}

[href="/store"],
[aria-label="Send a gift"],
[aria-label="Nitro"],
[class^="upsellVisible-"], 
[class^="premiumIconWrapper"], 
[class^="characterCount-"] [class*="upsell-"], 
[class^="emojiSection-"] [class*="shinyButton-"],
[class*="tryItOutSection-"],
[aria-label="Add Super Reaction"],
[aria-label="Help"] {
    display: none
}

@supports selector(:has(*)) {
    [class^="listItem-"]:has([aria-label="Download Apps"]),
    [class^="listItem-"]:has([aria-label^="Explore"]) + [class^="listItem-"]:has([class^="guildSeparator-"]) {
        display: none;
    }
    li:has([href="/activities"]) {
        display: none;
    }
}

[role="listitem"] {
    padding: 0;
}
[role="listitem"] a {
    padding: 0.1em;
}

[class*="welcomeCTA"] { display:none; }
[class*="clickableSticker"] > div[aria-label] > [class*="assetWrapper"] {
    display: none;
}
[class*="clickableSticker"] > div[aria-label]::after {
    content: "見て見て!! I'm stupid!";
    color: rgb(128 128 128 / 50%);
    font-weight: 500;
}

svg[class^="homeIcon"] path {
    d: path('M 2 0 a 2 2 90 0 0 -2 2 v 12 a 2 2 90 0 0 2 2 h 2 l 0 4 l 4 -4 H 18 a 2 2 90 0 0 2 -2 V 2 a 2 2 90 0 0 -2 -2 z');
}
svg[class^="homeIcon"] {
    margin-left: 8px;
}

.theme-dark [class^="perksModal"] {
    background-color: inherit;
}

nav div[class^="searchBar-"] {
    border: none;
    display: none
}

.pageWrapper-2PwDoS {
    background-color: var(--background-primary) !important;
}

.theme-dark [class^="content-"]>[class^="sidebar"] {
    background: var(--bg-overlay-3,var(--background-secondary));
}
.theme-light [class^="content-"]>[class^="sidebar"] {
    background: var(--bg-overlay-2,var(--background-secondary));
}

.theme-dark [class^="sidebar-"] section[class^="panels"] {
    background: var(--bg-overlay-2,var(--background-secondary-alt));
}
.theme-light [class^="sidebar-"] section[class^="panels"] {
    background: var(--bg-overlay-3,var(--background-tertiary));
}
[class^="sidebar-"] {
    width: 220px;
}
[class^="sidebar-"] section[class^="panels"] {
    margin: -1em 0.5em 0.5em 0.5em;
    padding: 0.2em;
    border-radius: 0.75em;
}
[class^="sidebar-"] section[class^="panels"] div[class^="container-"] {
    background: none;
}
[class^="sidebar-"] section[class^="panels"] [class^="avatarWrapper-"] {
    min-width: 87px;
    margin-right: 2px;
}

[class^="nameTag-"] {
    user-select: none !important;
}

[class^=menu-],[class^=submenu-] {
    border-radius: 0.5em;
}
.theme-dark [class^=menu-], .theme-dark [class^=submenu-] {
    background: rgba(10, 10, 10, 0.7);
}
.theme-light [class^=menu-], .theme-light [class^=submenu-] {
    background: rgba(255, 255, 255, 0.7);
}
[class^=submenu-] {
    margin: 0 -8px;
}
.theme-dark [class^=menu-]::after,.theme-dark [class^=submenu-]::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 0.5em;
    backdrop-filter: blur(0.5em);
}
.theme-light [class^=menu-]::after,.theme-light [class^=submenu-]::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 0.5em;
    backdrop-filter: blur(0.5em);
}

[class^=backdrop-] ~ [class*=layer-]>[class^=menu-]::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    backdrop-filter: blur(0.5em);
    border-radius: 0.5em;
}

[class^="userPopoutOuter-"] *::after {
    backdrop-filter: none !important;
    content: none !important;
}
[class^="userPopoutOuter-"] [aria-label="Set Status"] [class^="submenu-"]::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    backdrop-filter: blur(0.5em);
    border-radius: 8px;
}
[class^="userPopoutOuter-"] [aria-label="Set Status"] {
    border: none;
    box-shadow: none;
}

[id^="popout_"] ~ [class*=layer-]>[class^=menu-]::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    backdrop-filter: blur(0.5em);
    border-radius: 8px;
}

.theme-light [class^=autocomplete-] {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 0.5em;
}
.theme-dark [class^=autocomplete-] {
    background: rgba(10, 10, 10, 0.7);
    border-radius: 0.5em;
}
[class^=autocomplete-]::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    backdrop-filter: blur(0.75em);
    border-radius: 0.5em;
}

[class^="positionLayer-"] ~ .theme-light[class*=layer-]>[class^=menu-] {
    background: rgba(255, 255, 255, 0.7);
}
[class^="positionLayer-"] ~ .theme-dark[class*=layer-]>[class^=menu-] {
    background: rgba(10, 10, 10, 0.7);
}
[class^="positionLayer-"] ~ [class*=layer-]>[class^=menu-]::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    backdrop-filter: blur(0.5em);
    border-radius: 0.5em;
}


.theme-light .container-_dQaft, .theme-light .messagesPopoutWrap-3zryHW, .theme-light .recentMentionsPopout-2bI1ZN, .theme-light .container-18GwIk {
    border-radius: 0.5em;
    background: rgba(245, 245, 245, 0.7);
    backdrop-filter: blur(1em);
}
.theme-dark .container-_dQaft, .theme-dark .messagesPopoutWrap-3zryHW, .theme-dark .recentMentionsPopout-2bI1ZN, .theme-dark .container-18GwIk {
    border-radius: 0.5em;
    background: rgba(10, 10, 10, 0.7);
    backdrop-filter: blur(1em);
}
.container-1A0qQO, .container-nwU-8G, .messageContainer-3VTXBC {
    background: none;
}

.theme-light [class*="userProfileInnerThemedNonPremium"], .theme-light [class*="userProfileOuterUnthemed"] {
    background: rgba(245, 245, 245, 0.6);
}
.theme-dark [class*="userProfileInnerThemedNonPremium"], .theme-dark [class*="userProfileOuterUnthemed"] {
    background: rgba(25, 25, 25, 0.4);
}
[class*="userProfileOuterUnthemed"]::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 0.5em;
    backdrop-filter: blur(1em);
}

.theme-dark .root-1CAIjD {
    background: rgba(10, 10, 10, 0.8);
    border-radius: 0.5em;
    backdrop-filter: blur(0.5em);
}
.theme-light .root-1CAIjD {
    background: rgba(245, 245, 245, 0.8);
    border-radius: 0.5em;
    backdrop-filter: blur(0.5em);
}
[aria-label="User Profile Modal"]>.root-g14mjS {
    background: none !important;
}

.theme-light [class^=popout-], .theme-light [class^=popoutContainer-] {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(0.5em);
    border-radius: 0.5em;
}
.theme-dark [class^=popout-], .theme-dark [class^=popoutContainer-] {
    background: rgba(10, 10, 10, 0.7);
    backdrop-filter: blur(0.5em);
    border-radius: 0.5em;
}

[class^="profileCardUsernameRow-"] + [aria-label="User Badges"] {
    background: none !important;
}

.theme-dark [class^="accountProfileCard-"] {
    background: rgba(10, 10, 10, 0.7);
}
.theme-light [class^="accountProfileCard-"] {
    background: rgba(230, 230, 230, 0.7);
}

.theme-light .container-2McqkF {
    background: rgba(245, 245, 245, 0.7);
    backdrop-filter: blur(0.5em);
    border-radius: 0.5em;
}
.theme-dark .container-2McqkF {
    background: rgba(10, 10, 10, 0.7);
    backdrop-filter: blur(0.5em);
    border-radius: 0.5em;
}

.theme-light [class^="quickswitcher-"] {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(0.5em);
    border-radius: 0.5em;
}
.theme-dark [class^="quickswitcher-"] {
    background: rgba(27, 27, 27, 0.7);
    backdrop-filter: blur(0.5em);
    border-radius: 0.5em;
}
[class^="quickswitcher-"]>[class^="scroller-"] {
    background: none;
}

[class^="backdrop-"] + [class^="layer-"] {
    backdrop-filter: blur(0.25em);
}

.theme-dark [aria-label="Message Actions"] > [class^="wrapper-"] {
    background: rgba(10, 10, 10, 0.6);
    border-radius: 0.5em;
    backdrop-filter: blur(0.5em);
}
.theme-light [aria-label="Message Actions"] > [class^="wrapper-"] {
    background: rgba(245, 245, 245, 0.6);
    border-radius: 0.5em;
    backdrop-filter: blur(0.5em);
}

/*Bot Tag Icon*/
.botTag-7aX5WZ:not(.stafftags):not(.botTagOP-3pUTXu) {
  padding: 0 !important;
  background-color: transparent;
}

.botTag-7aX5WZ:not(.stafftags):not(.botTagOP-3pUTXu)::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 2C14.761 2 17 4.238 17 7V9H7V7C7 4.238 9.238 2 12 2ZM10.5 5.5C10.5 6.329 11.172 7 12 7C12.828 7 13.5 6.329 13.5 5.5C13.5 4.671 12.828 4 12 4C11.172 4 10.5 4.671 10.5 5.5ZM23 22H17L19 19V12H17V18C17 18.553 16.552 19 16 19H14L15 22H9L10 19H8C7.448 19 7 18.553 7 18V12H5V19L7 22H1L3 19V12C3 10.896 3.897 10 5 10H19C20.103 10 21 10.896 21 12V19L23 22ZM13 14C13 14.553 13.448 15 14 15C14.552 15 15 14.553 15 14C15 13.447 14.552 13 14 13C13.448 13 13 13.447 13 14Z' fill='%23FFFFFF'/%3E%3C/svg%3E");
  background-size: contain;
  display: inline-block;
  width: 14px;
  height: 14px;
}

.botTag-7aX5WZ:not(.stafftags):not(.botTagOP-3pUTXu) span {
  display: none;
}

/* Replace folder icons*/
path[d="M20 7H12L10.553 5.106C10.214 4.428 9.521 4 8.764 4H3C2.447 4 2 4.447 2 5V19C2 20.104 2.895 21 4 21H20C21.104 21 22 20.104 22 19V9C22 7.896 21.104 7 20 7Z"] {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    d: path("m6 14 1.45-2.9A2 2 0 0 1 9.24 10H20a2 2 0 0 1 1.94 2.5l-1.55 6a2 2 0 0 1-1.94 1.5H4a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2h3.93a2 2 0 0 1 1.66.9l.82 1.2a2 2 0 0 0 1.66.9H18a2 2 0 0 1 2 2v2");
}

/* Timestamp when hover */
[class*=timestampInline-] {
  opacity: 0;
  transition: 0.2s opacity ease-in-out;
}

[class^=message-]:hover [class*=timestampInline-] {
  opacity: 1;
}

/* Reduced enhanced markdown margins */
[class^=message] [id^=message-content] :is(h1, h2, h3, li) {
  margin: 0px;
}
[class^=message] [id^=message-content] :is(ol, ul) {
  margin-top: 0px;
}

/* blur out the email and phone number in settings, and reveal on hover*/
[class^="field"]:nth-child(n+3) > [class^="constrainedRow"] > div > div {
    filter: blur(5px);
    transition: filter 0.2s ease-in-out;
}
[class^="field"]:nth-child(n+3) > [class^="constrainedRow"] > div > div:hover {
    filter: none;
}
[class*="formText"]:has(> [class*="phoneRevealer"]) {
    display: none;
}

/* Re-round Spotify Status Images */
.assetsLargeImageSpotify-17ME3M{border-radius:8px;}

/* Hide input in profile */
[class*="inputWrapper"][class*="messageInputContainer"] {
    display: none;
}

/* Makes messages slide into chat 
Try changing the second value '0.6s' and fiddle around with it to change the speed*/
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
.message-2CShn3 {
  animation: slide-up 0.6s ease;
}

/* glowing current speaker rings */
.avatarSpeaking-2pCGrZ {
  border: 2.5px solid rgb(44, 200, 106);
  box-shadow: 0px 0px 6px rgb(0, 16, 3),  0px 0px 50px rgb(44, 200, 106),  0px 0px 6px rgba(0, 0, 0, 0.953);
  border-radius: 16px;
  margin-left: 6px;
  margin-top: 1px;
}

/*search bar minimized until hover*/
.search-2Mwzzq:not(.open-1F8u2c) .searchBar-jGtisZ {
  width: 27px;
  transition: var(--transitionspeed);
  background-color: transparent;
}
.search-2Mwzzq:not(.open-1F8u2c):hover .searchBar-jGtisZ {
  width: 170px;
  background-color: var(--background-tertiary);
}
.search-2Mwzzq:not(.open-1F8u2c) .iconContainer-1RqWJj {
  transform: scale(1.3);
  transition: var(--transitionspeed);
}
.search-2Mwzzq:not(.open-1F8u2c):hover .iconContainer-1RqWJj {
  transform: scale(1);
}
.search-2Mwzzq:not(.open-1F8u2c) .icon-18rqoe {
  color: var(--text-normal);
}
.search-2Mwzzq:not(.open-1F8u2c):hover .icon-18rqoe {
  color: var(--text-muted);
}

/* Original code from hadeanMachine and ArjixWasTaken */

#app-mount .containerDefault-YUSmu3.selected-2TbFuo .content-1gYQeQ {
  background: rgb(170 0 255 / 6%);
  border: 2px solid rgb(170 0 255);
}

.icon-2W8DHg {
  width: 15px;
  height: 15px;
}

[aria-label="Channels"] [class^="content"],
[class^="popout-"] [class^="row-"]
{
    border-style: solid;
    border-width: 2px;  
    border-color: transparent;
    background-color: transparent;
}

[aria-label="Channels"] [class^="content"]:hover,
[class^="popout-"] [class^="row-"]:hover
{
    border-color: rgb(170 0 255) !important;
}

.unread-36eUEm {
  background-color: rgb(170 0 255);
}

/* Delete this code above to remove the "I'm new to discord, eat my ass!" text, or just change it */
[class*=wumpusTooltip] {
    visibility: hidden;
}

[class*=wumpusTooltip]:after {
    visibility: visible;
}

[class*=wumpusTooltip]:before {
    content:'I\'m new to Discord, eat my ass!';
    visibility: visible;
    display: inline-block;
    background: var(--white-500);
    color: var(--primary-dark-500);
    width: max-content;
    height: max-content;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    position: relative;
    left: -6px;
    bottom: -6.5px;
    padding: 1px 6px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 3px;
    margin-top: -12px;
    margin-right: 8px;
    -webkit-transition: opacity .11s linear .17s;
    transition: opacity .11s linear .17s;
}
