/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&display=swap');

/* Invites Redesign */
@import url(https://maendisease.github.io/BetterDiscordStuff/css/bettterInvites.css);
/* Setting Window Icons */
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);

:root {
  --version: "1.0";
  --settingsiconssize: 18px;
  --settingsiconsgap: 14px;
  --transitionspeed: 0.25s;
}

/* Fixing FUCKED Fonts */
[class*="headerText-"]{
   overflow-y: hidden;
}

/* User Popout by Couve Theme */
:root .userPopoutOuter-1OHwPL {
  max-height: unset !important;
  box-shadow: unset !important;
  border-radius: 8px;
}
:root .userPopoutOuter-1OHwPL .userPopoutInner-nv9Y92::before {
  max-height: unset !important;
}
:root .userPopoutOuter-1OHwPL .bannerSVGWrapper-2CLfzN {
  overflow: visible;
  min-height: 150px !important;
  contain: unset;
}
:root .userPopoutOuter-1OHwPL .bannerSVGWrapper-2CLfzN .banner-1YaD3N {
  position: absolute;
  height: 180px;
  border-radius: 8px 8px 0 0;
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0.7607843137), rgba(0, 0, 0, 0.7607843137));
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 25px), 50% 100%, 0 calc(100% - 25px));
}
:root .userPopoutOuter-1OHwPL .bannerSVGWrapper-2CLfzN .banner-1YaD3N.bannerPremium-kkSkPv {
  background-color: transparent !important;
}
:root .userPopoutOuter-1OHwPL .bannerSVGWrapper-2CLfzN[viewBox="0 0 340 60"] > foreignObject {
  transform: translateY(-47px);
}
:root .userPopoutOuter-1OHwPL .bannerSVGWrapper-2CLfzN[viewBox="0 0 340 120"] > foreignObject {
  transform: translateY(-17px);
}
:root .userPopoutOuter-1OHwPL .bannerSVGWrapper-2CLfzN[viewBox="0 0 340 90"] > foreignObject {
  transform: translateY(-35px);
}
:root .userPopoutOuter-1OHwPL .bannerSVGWrapper-2CLfzN > foreignObject {
  mask: none;
}
:root .userPopoutOuter-1OHwPL .profileBadges-2pItdR {
  position: absolute;
  top: 140px;
  left: 0;
  width: 340px;
  max-width: unset;
  padding: 0;
  justify-content: center;
  background-color: transparent;
}
:root .userPopoutOuter-1OHwPL .userPopoutOverlayBackground-3A0Pcz {
  position: static;
  background-color: transparent;
}
:root .userPopoutOuter-1OHwPL .userPopoutOverlayBackground-3A0Pcz > .divider-2dDziJ {
  display: none;
}
:root .userPopoutOuter-1OHwPL .userPopoutOverlayBackground-3A0Pcz .usernameSection-3FppkT .userText-1_v2Cq > h1,
:root .userPopoutOuter-1OHwPL .userPopoutOverlayBackground-3A0Pcz .usernameSection-3FppkT .userText-1_v2Cq > .userTagNoNickname-h9Bh88 {
  position: absolute;
  top: 110px;
  left: 0;
  width: 340px;
  box-sizing: border-box;
  text-align: center;
}
:root .userPopoutOuter-1OHwPL .userPopoutOverlayBackground-3A0Pcz .usernameSection-3FppkT .userText-1_v2Cq > h1 .discrimBase-v65kTs,
:root .userPopoutOuter-1OHwPL .userPopoutOverlayBackground-3A0Pcz .usernameSection-3FppkT .userText-1_v2Cq > .userTagNoNickname-h9Bh88 .discrimBase-v65kTs {
  color: white;
}
:root .userPopoutOuter-1OHwPL .userPopoutOverlayBackground-3A0Pcz .scroller-15bIdk::-webkit-scrollbar {
  display: none;
}
:root .userPopoutOuter-1OHwPL .userPopoutOverlayBackground-3A0Pcz .activity-3uaYny {
  z-index: 1;
}
:root .userPopoutOuter-1OHwPL .userPopoutOverlayBackground-3A0Pcz .activity-3uaYny .assetsLargeImageSpotify-17ME3M {
  border-radius: 8px !important;
  margin-left: 6px;
}
:root .userPopoutOuter-1OHwPL .userPopoutOverlayBackground-3A0Pcz .activity-3uaYny .content-tXPNDw {
  margin-right: 8px;
}
:root .userPopoutOuter-1OHwPL .userPopoutOverlayBackground-3A0Pcz .activity-3uaYny .button-TGAkj4 {
  background-color: var(--main-color);
  opacity: 1;
}
:root .userPopoutOuter-1OHwPL .userPopoutOverlayBackground-3A0Pcz .activity-3uaYny .platformIcon-k3yytQ {
  display: none;
}
:root .userPopoutOuter-1OHwPL .userPopoutOverlayBackground-3A0Pcz .activity-3uaYny .timeBarUserPopoutV2-32DL06 {
  position: absolute;
  top: 7px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 70px;
  border-radius: 8px;
}
:root .userPopoutOuter-1OHwPL .userPopoutOverlayBackground-3A0Pcz .activity-3uaYny .timeBarUserPopoutV2-32DL06 .bar-1GpknY {
  border-radius: 8px;
  height: 100%;
}
:root .userPopoutOuter-1OHwPL .userPopoutOverlayBackground-3A0Pcz .activity-3uaYny .timeBarUserPopoutV2-32DL06 .barInner-3dHef4 {
  border-radius: 8px 0 0 8px;
  opacity: 0.2;
}
:root .userPopoutOuter-1OHwPL .userPopoutOverlayBackground-3A0Pcz .activity-3uaYny .timeBarUserPopoutV2-32DL06 > :last-child {
  display: none;
}
:root .userPopoutOuter-1OHwPL .userPopoutOverlayBackground-3A0Pcz .input-2g-os5 {
  background-color: transparent !important;
}
:root .userPopoutOuter-1OHwPL.userProfileOuterThemed-2BgJCM .usernameSection-3FppkT {
  left: 4px;
}
:root .userPopoutOuter-1OHwPL .avatarWrapper-eenWra {
  top: 15px !important;
  left: calc(50% - 40px);
}
:root .userPopoutOuter-1OHwPL .avatarWrapper-eenWra .avatarHint-k7pYop {
  top: 0;
  left: 0;
  border-radius: calc(var(--avatar-radius) * 2) !important;
}
:root .userPopoutOuter-1OHwPL .avatarWrapper-eenWra .avatarHint-k7pYop foreignObject {
  mask: none !important;
}
:root .userPopoutOuter-1OHwPL .avatarWrapper-eenWra .avatarHint-k7pYop foreignObject .avatarHintInner-2HUAWj {
  font-size: 0;
  text-transform: none;
}
:root .userPopoutOuter-1OHwPL .avatarWrapper-eenWra .avatarHint-k7pYop foreignObject .avatarHintInner-2HUAWj::after {
  white-space: normal;
  text-align: center;
  content: var(--avatar-hint-text);
  color: var(--avatar-hint-color);
  font-size: var(--avatar-hint-size);
  font-family: var(--avatar-hint-font);
}
:root .userPopoutOuter-1OHwPL .mask-1y0tyc foreignObject {
  border-radius: calc(var(--avatar-radius) * 2) !important;
}
:root .userPopoutOuter-1OHwPL .mask-1y0tyc circle,
:root .userPopoutOuter-1OHwPL .mask-1y0tyc rect[fill=black] {
  display: none;
}

/* User Profile Modal by Couve Theme */
:root .root-8LYsGj.root-1CAIjD.small-2xUY-3 {
  width: 800px;
  height: 100%;
}
:root .root-8LYsGj.root-1CAIjD.small-2xUY-3 > div {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
:root .userProfileModalInner-3dx9L9 {
  width: 100%;
  height: 100%;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}
:root .userProfileModalInner-3dx9L9::before {
  width: 100%;
  height: 100%;
}
:root .userProfileModalInner-3dx9L9 .topSection-13QKHs {
  z-index: 1;
  border-radius: 8px 0 0 10px;
  overflow: hidden;
  width: calc(55% - 16px);
  height: 100%;
  margin-bottom: 0;
}
:root .userProfileModalInner-3dx9L9 .topSection-13QKHs header {
  width: 100%;
  height: 100%;
}
:root .userProfileModalInner-3dx9L9 .topSection-13QKHs .bannerSVGWrapper-2CLfzN {
  min-width: unset !important;
  min-height: unset !important;
  width: 100%;
  height: 100%;
}
:root .userProfileModalInner-3dx9L9 .topSection-13QKHs .bannerSVGWrapper-2CLfzN .banner-1YaD3N {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
  border-radius: 10px 0 0 10px;
  mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2862745098));
  -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2862745098));
}
:root .userProfileModalInner-3dx9L9 .topSection-13QKHs .bannerSVGWrapper-2CLfzN > foreignObject {
  mask: none;
}
:root .userProfileModalInner-3dx9L9 .topSection-13QKHs .bannerSVGWrapper-2CLfzN[viewBox="0 0 600 106"] > foreignObject {
  y: -350px;
  height: 800px;
}
:root .userProfileModalInner-3dx9L9 .topSection-13QKHs .bannerSVGWrapper-2CLfzN[viewBox="0 0 600 212"] > foreignObject {
  y: -250px;
  height: 700px;
}
:root .userProfileModalInner-3dx9L9 .topSection-13QKHs .header-S26rhB {
  position: static;
}
:root .userProfileModalInner-3dx9L9 .topSection-13QKHs .header-S26rhB .avatar-3QF_VA {
  top: 16px;
  left: 16px;
}
:root .userProfileModalInner-3dx9L9 .topSection-13QKHs .header-S26rhB .avatar-3QF_VA circle,
:root .userProfileModalInner-3dx9L9 .topSection-13QKHs .header-S26rhB .avatar-3QF_VA rect[fill=black] {
  display: none;
}
:root .userProfileModalInner-3dx9L9 .topSection-13QKHs .header-S26rhB .badgeList-2aoHPw {
  position: absolute;
  top: 65px;
  left: -15px;
  background-color: transparent;
}
:root .userProfileModalInner-3dx9L9 .relationshipButtons-3ByBpj {
  position: fixed;
  bottom: 15px;
  left: 15px;
  z-index: 1;
}
:root .userProfileModalInner-3dx9L9 .mask-1y0tyc foreignObject {
  border-radius: calc(var(--avatar-radius) * 2.1) !important;
}
:root .userProfileModalInner-3dx9L9 .container-3g15px > div:nth-child(2) {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: calc(45% + 16px);
  padding: 10px 20px;
  backdrop-filter: blur(8px);
  box-sizing: border-box;
  border-bottom-right-radius: 5px;
}
:root .userProfileModalInner-3dx9L9 .container-3g15px > div:nth-child(2).activityProfile-1712BN {
  right: unset;
  bottom: -140px;
  left: 5px;
  width: 750px;
  padding: 20px;
}
:root .userProfileModalInner-3dx9L9 .container-3g15px > div:nth-child(2) .customStatus-3qYNe4 {
  margin-top: 0;
}
:root .userProfileModalInner-3dx9L9 .container-3g15px > div:nth-child(2) .assetsLargeImageActivityFeed-3zBude,
:root .userProfileModalInner-3dx9L9 .container-3g15px > div:nth-child(2) .assetsLargeImageActivityFeedXbox-3gGXXV,
:root .userProfileModalInner-3dx9L9 .container-3g15px > div:nth-child(2) .assetsLargeImageProfile-1TX9jP {
  width: 40px;
  height: 40px;
}
:root .userProfileModalInner-3dx9L9 .userProfileModalOverlayBackground-2dAaBg {
  position: static;
  width: calc(45% + 16px);
  margin: 0;
  overflow: visible;
  background-color: var(--background-primary);
  border-radius: 0;
}
:root .userProfileModalInner-3dx9L9 .userProfileModalOverlayBackground-2dAaBg .body-1Ukv50 .container-3g15px > div:first-child {
  position: absolute;
  top: 25px;
  left: 153px;
  z-index: 1;
}
:root .userProfileModalInner-3dx9L9 .userProfileModalOverlayBackground-2dAaBg .body-1Ukv50 .container-3g15px > div:first-child > span {
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
:root .userProfileModalInner-3dx9L9 .userProfileModalOverlayBackground-2dAaBg .body-1Ukv50 .container-3g15px {
  padding: 0;
}
:root .userProfileModalInner-3dx9L9 .userProfileModalOverlayBackground-2dAaBg .body-1Ukv50 .divider-1NpGam {
  display: none;
}
:root .userProfileModalInner-3dx9L9 .userProfileModalOverlayBackground-2dAaBg .body-1Ukv50 .tabBarContainer-sCZC4w {
  position: absolute;
  bottom: 65px;
  left: 5px;
  z-index: 1;
  border-bottom: unset;
}
:root .userProfileModalInner-3dx9L9 .userProfileModalOverlayBackground-2dAaBg .body-1Ukv50 .tabBarContainer-sCZC4w .tabBar-2hXqzU {
  flex-direction: column;
  gap: 15px;
}
:root .userProfileModalInner-3dx9L9 .userProfileModalOverlayBackground-2dAaBg .body-1Ukv50 .tabBarContainer-sCZC4w .tabBar-2hXqzU .item-2GWPIy {
  height: 20px;
  border-bottom: unset;
}
:root .userProfileModalInner-3dx9L9 .userProfileModalOverlayBackground-2dAaBg .body-1Ukv50 .connectedAccounts-2R5M4w {
  padding-bottom: 80px;
}
:root .userProfileModalInner-3dx9L9 .userProfileModalOverlayBackground-2dAaBg .body-1Ukv50 .connectedAccounts-2R5M4w .connectedAccountContainer-3aLMHJ {
  border: none;
  border-radius: 8px;
}
:root .userProfileModalInner-3dx9L9 .userProfileModalOverlayBackground-2dAaBg .body-1Ukv50 .listScroller-entkMk {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(20, 0fr);
  gap: 10px;
  padding-left: 8px;
}
:root .userProfileModalInner-3dx9L9 .userProfileModalOverlayBackground-2dAaBg .body-1Ukv50 .listScroller-entkMk .listRow-2nO1T6 {
  position: relative;
  z-index: 1;
  height: 44px;
  margin: 0;
  padding-left: 10px;
  border-radius: 8px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.0274509804);
}
:root .userProfileModalInner-3dx9L9 .userProfileModalOverlayBackground-2dAaBg .body-1Ukv50 .listScroller-entkMk .listRow-2nO1T6 .listAvatar-2bU5Uh {
  position: absolute;
  right: 0;
  z-index: -1;
  width: 62% !important;
  height: 250% !important;
  margin-right: 0;
  border-radius: 0;
  -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7960784314));
}
:root .userProfileModalInner-3dx9L9 .userProfileModalOverlayBackground-2dAaBg .body-1Ukv50 .listScroller-entkMk .listRow-2nO1T6 .listAvatar-2bU5Uh svg {
  position: relative;
  width: 100%;
  height: 100%;
}
:root .userProfileModalInner-3dx9L9 .userProfileModalOverlayBackground-2dAaBg .body-1Ukv50 .listScroller-entkMk .listRow-2nO1T6 .listAvatar-2bU5Uh svg foreignObject {
  width: 100%;
  height: 100%;
}
:root .userProfileModalInner-3dx9L9 .userProfileModalOverlayBackground-2dAaBg .body-1Ukv50 .listScroller-entkMk .listRow-2nO1T6 .listAvatar-2bU5Uh svg rect {
  display: none;
}
:root .userProfileModalInner-3dx9L9 .userProfileModalOverlayBackground-2dAaBg .body-1Ukv50 .listScroller-entkMk .empty-2zcusz {
  grid-column: 1/3;
  grid-row: 1/22;
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin: 0;
  padding-left: 10px;
  border-radius: 8px;
}
:root .userProfileModalInner-3dx9L9 .userProfileModalOverlayBackground-2dAaBg .body-1Ukv50 .listScroller-entkMk .empty-2zcusz .emptyIconFriends-2LNxTX {
  position: absolute;
  z-index: -1;
  width: 80%;
  height: 80%;
  margin-left: -10px;
  opacity: 0.2;
  background-size: 100%;
}
:root .userProfileModalInner-3dx9L9 .userProfileModalOverlayBackground-2dAaBg .body-1Ukv50 .listScroller-entkMk .activityProfileV2-1N7pee {
  grid-column: 1/3;
}
:root .userProfileModalInner-3dx9L9 .userProfileModalOverlayBackground-2dAaBg .body-1Ukv50 .input-2g-os5 {
  background-color: transparent;
}
:root .userProfileModalInner-3dx9L9 .userProfileModalOverlayBackground-2dAaBg {
  background-color: transparent;
}

/* Floating Settings Bar */
.panels-3wFtMD {
    margin: 5px;
    margin-top: 0;
    border-radius: 12px;
    overflow: hidden;
    transition: .2s;
}
.panels-3wFtMD:hover {
    box-shadow: var(--light-elevation-border),var(--elevation-high);
}
.panels-3wFtMD .container-YkUktl {
    flex-direction: column;
    height: 88px;
    padding: 8px;
    background: var(--background-floating) !important;
    margin-bottom: -36px;
    transition: .2s;
}
.panels-3wFtMD:hover .container-YkUktl {
    margin-bottom: 0;
}
.panels-3wFtMD .avatarWrapper-1B9FTW {
    margin-right: 0;
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    margin-bottom: 4px;
    border-radius: 8px;
    transition: .15s;
}

div[class*="container-1zzFcN"] { 
  background: var(--background-floating) !important;
  }

div[class*="wrapper-3Un6-K avatar-1EWyVD"] { 
  margin-left: 30%;
  }

/*Bot Tag Icon*/
.botTag-7aX5WZ:not(.stafftags):not(.botTagOP-3pUTXu) {
  padding: 0 !important;
  background-color: transparent;
}

.botTag-7aX5WZ:not(.stafftags):not(.botTagOP-3pUTXu)::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 2C14.761 2 17 4.238 17 7V9H7V7C7 4.238 9.238 2 12 2ZM10.5 5.5C10.5 6.329 11.172 7 12 7C12.828 7 13.5 6.329 13.5 5.5C13.5 4.671 12.828 4 12 4C11.172 4 10.5 4.671 10.5 5.5ZM23 22H17L19 19V12H17V18C17 18.553 16.552 19 16 19H14L15 22H9L10 19H8C7.448 19 7 18.553 7 18V12H5V19L7 22H1L3 19V12C3 10.896 3.897 10 5 10H19C20.103 10 21 10.896 21 12V19L23 22ZM13 14C13 14.553 13.448 15 14 15C14.552 15 15 14.553 15 14C15 13.447 14.552 13 14 13C13.448 13 13 13.447 13 14Z' fill='%23FFFFFF'/%3E%3C/svg%3E");
  background-size: contain;
  display: inline-block;
  width: 14px;
  height: 14px;
}

.botTag-7aX5WZ:not(.stafftags):not(.botTagOP-3pUTXu) span {
  display: none;
}

/* Timestamp when hover */
[class*=timestampInline-] {
  opacity: 0;
  transition: 0.2s opacity ease-in-out;
}

[class^=message-]:hover [class*=timestampInline-] {
  opacity: 1;
}

/*search bar minimized until hover*/
.search-2Mwzzq:not(.open-1F8u2c) .searchBar-jGtisZ {
  width: 27px;
  transition: var(--transitionspeed);
  background-color: transparent;
}
.search-2Mwzzq:not(.open-1F8u2c):hover .searchBar-jGtisZ {
  width: 170px;
  background-color: var(--background-tertiary);
}
.search-2Mwzzq:not(.open-1F8u2c) .iconContainer-1RqWJj {
  transform: scale(1.3);
  transition: var(--transitionspeed);
}
.search-2Mwzzq:not(.open-1F8u2c):hover .iconContainer-1RqWJj {
  transform: scale(1);
}
.search-2Mwzzq:not(.open-1F8u2c) .icon-18rqoe {
  color: var(--text-normal);
}
.search-2Mwzzq:not(.open-1F8u2c):hover .icon-18rqoe {
  color: var(--text-muted);
}

/* Remastered Connect Issue Popup */
.container-2RRFHK {
    background: transparent;
    pointer-events: none;
}
.container-2RRFHK .anchor-1MIwyf { pointer-events: auto; }
.container-2RRFHK .content-3AIQZv .text-2bYgPB {
    display:none;
}
.container-2RRFHK .ready-3BZNWT {
    position: absolute;
    bottom: 44px;
    right: 244px;
    z-index: 1;
}

.container-2RRFHK img, .container-2RRFHK video {
    width: 32px;
    height: 32px;
}
.container-2RRFHK .problems-CvGwpb {
    padding: 8px 16px;
    bottom: 18px;
    left: unset;
    right: 18px;
    width:fit-content;
    height:fit-content;
    background-color: var(--background-floating);
    border-radius: 8px;
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-medium);
    box-shadow: var(--elevation-stroke), var(--elevation-medium);
}

/* Text in Settings*/
[class^="socialLinks-"] + [class^="info-"] > span:first-child::before {
    content: "Hydra " var(--version);
    position: relative;
    top: 0px;
    display: block;
    color: white;
}

/* edited text time */
.timestamp-p1Df1m:not(.timestampInline-_lS3aK, .timestampVisibleOnHover-9PEuZS) time::after {
        content: " (" attr(aria-label) ")";
        color: var(--text-muted);
        font-size: 0.625rem;
        font-weight: 400;
        line-height: 1;
        text-transform: lowercase;
}

.edited-1v5nT8:not(.message-translate-indicator) {
    display: none;
}

/* Emoji Auto-Fill Animation */
.base-2v-uc0 {
    transition: all 0.5s;
}
.base-2v-uc0:hover {
    transition: all 0s;
    transform: scale(1.02);
}

/* Messages Slide In Chat */
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
.message-2CShn3 {
  animation: slide-up 0.4s ease;
}

/* Remastered Folders */
path[d="M20 7H12L10.553 5.106C10.214 4.428 9.521 4 8.764 4H3C2.447 4 2 4.447 2 5V19C2 20.104 2.895 21 4 21H20C21.104 21 22 20.104 22 19V9C22 7.896 21.104 7 20 7Z"] {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    d: path("m6 14 1.45-2.9A2 2 0 0 1 9.24 10H20a2 2 0 0 1 1.94 2.5l-1.55 6a2 2 0 0 1-1.94 1.5H4a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2h3.93a2 2 0 0 1 1.66.9l.82 1.2a2 2 0 0 0 1.66.9H18a2 2 0 0 1 2 2v2");
}

/* Search Bar in DM Menu */
:root .searchBar-3TnChZ {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 20px);
  background: linear-gradient(180deg, var(--background-secondary), transparent);
  box-shadow: none;
}
:root .searchBar-3TnChZ .searchBarComponent-3N7dCG {
  background: var(--background-primary);
  border-radius: 20px;
  font-size: 10px;
  text-align: center;
} 
:root .privateChannels-oVe7HL > .scroller-WSmht3 {
  padding-top: 48px;
}

/* Custom Title Bar */
.wordmark-2u86JB::after{
    content: "Hydra";
    font-size: 15px;
    margin-left: 620px;
    position: relative;
    font-family: 'Belanosima', sans-serif;
}

.wordmark-2u86JB > svg {
    display: none;
}

/* ????? Change server selection */
.pill-2RsI5Q {
  width: 100%;
  overflow: visible !important;
}
.pill-2RsI5Q [style="opacity: 1; height: 40px; transform: none;"] {
  right: 0;
  height: 48px !important;
  background-color: var(--background-secondary);
  width: 60px;
  border-radius: 30% 0 0 30%;
  filter: drop-shadow(0px 14px 8px rgba(0,0,0,0.1));
  pointer-events: none;
  animation: pillAnimateIn 0.3s backwards cubic-bezier(0, 0, 0, 1.4);
}
.pill-2RsI5Q [style="opacity: 1; height: 40px; transform: none;"]::after,
.pill-2RsI5Q [style="opacity: 1; height: 40px; transform: none;"]::before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 0;
  width: 30px;
  height: 30px;
  border-bottom-right-radius: 100px;
  box-shadow: 15px 15px 0 15px var(--background-secondary);
}
.pill-2RsI5Q [style="opacity: 1; height: 40px; transform: none;"]::before {
  top: 100%;
  border-bottom-right-radius: 0;
  border-top-right-radius: 100px;
  box-shadow: 15px -15px 0 15px var(--background-secondary);
}
@keyframes pillAnimateIn {
  from {
    opacity: 0;
    transform: translateX(10%);
  }
}

/* Hide New Message Stuff When Unfocused */
/* Red New Message Bar */
html:not(.app-focused) .isUnread-3Lojb- {
    border-color: transparent
}
.isUnread-3Lojb- {
    transition: .15s
}

/* New Message Bar */
html:not(.app-focused) .newMessagesBar-1hF-9G {
    opacity: 0
}
.newMessagesBar-1hF-9G {
    transition: .15s
}

/* Disabling Nitro Button on DM */
.privateChannels-oVe7HL [href="/store"] {
display: none;
}

/* Rounded Context Menu */
.menu-2TXYjN { 
    border-radius: 10px;
}

/* remove login artwork */
svg.artwork-L5TAwQ {
    display: none !important;
    visibility: hidden !important;
}

/*Remove Invite Button next to channel name*/
.actionIcon-2sw4Sl {
    display: none;
}

/* Blurred Context Menus */
[class^=menu-],[class^=submenu-] {
  background: none;
}
[class^=submenu-] {
  margin: 0 -8px;
}
.theme-dark [class^=menu-]::after,.theme-dark [class^=submenu-]::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 5px;
  background: rgba(10, 10, 10, 0.7);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
}
.theme-light [class^=menu-]::after,.theme-light [class^=submenu-]::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 5px;
  background: rgba(245, 245, 245, 0.7);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
}
[class^=backdrop-] ~ .theme-light[class*=layer-]>[class^=menu-] {
  background: rgba(245, 245, 245, 0.7);
}
[class^=backdrop-] ~ .theme-dark[class*=layer-]>[class^=menu-] {
  background: rgba(10, 10, 10, 0.7);
}
[class^=backdrop-] ~ [class*=layer-]>[class^=menu-]::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 0;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
}
.section-3FmfOT, .divider-1tWBgZ, .scroller-1jBQYo {
  z-index: 2;
}
